h1 {
  font-family: "Satisfy", cursive;
}

h3 {
  text-align: center;
}

.btn-secondary {
  margin: 2pt;
}

.btn-danger {
  color: black;
  background-color: #e7555c;
  border-color: #8cd8dc;
  margin: 2pt;
}

.btn-outline-dark {
  background-color: #ece9dd;
  margin: 2pt;
}

nav {
  height: 20 pt;
}

#cart {
  text-align: right;
}

small {
  font-size: x-small;
  text-align: center;
}

#carrito {
  height: 20pt;
  width: 20pt;
}

#img-principal {
  align-self: center;
  width: 100%;
  height: 100%;
}

div.ex1 {
  overflow: scroll;
}

footer {
  text-align: center;
}

.card {
  margin: 4pt;
}

#tarjetas {
  align-items: center;
  justify-content: center;
}

#valorTotal,
.card-title,
.price {
  font-weight: bold;
}

#total {
  justify-content: left;
}

#botones {
  justify-content: right;
  align-items: flex-end;
  display: flex;
}
